/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.htaccess
/public/.well-known/
/public/app.js
/public/node_modules
/public/tmp/
/resources/views/welcome.backup
